@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Light'),
         url('/fonts/FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Light Italic'),
         url('/fonts/FiraSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular'),
         url('/fonts/FiraSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: local('Fira Mono'),
         url('/fonts/FiraMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
