{% extends 'layout.jinja' %}
{% block primary %}
<div class='article'>
	<h1>{{ meta.title }}</h1>
	<p>By {{ meta.author }} on <time datetime='{{ meta.date }}'>{{ humanize.naturaldate(meta.date) }}</time></p>
	{% block content %}{% endblock %}
</div>
{% endblock %}
