{% extends 'layout.jinja' %}
{% block primary %}
    {% for index, object in data.items() %}
        {% if index.startswith('authors/') %}
            <div class='article-item'>
                <h2><a href='/{{ index }}'>{{ object.title }}</a></h2>
                Updated <time datetime='{{ object.date }}'>{{ humanize.naturaldate(object.date) }}</time>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
