{% extends 'layout.jinja' %}
{% block primary %}
    <div class='hero'>
        {% block content %}{% endblock %}
    </div>
    <div class='index'>
        <ul>
        {% for index, object in data %}
            {% if index.startswith('articles/') %}
                <li>
                    <h2><a href='/{{ index }}'>{{ object.title }}</a></h2>
                    <span class='author'>{{ object.author }}</span>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}
