<!doctype html>
<html class='no-js' lang='en-us'>
    <head>
        <title>{{ meta.title }}</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='author' href='{{ url_for('static', filename='styles/humans.txt') }}'>
        <link rel='stylesheet' href='{{ url_for('static', filename='styles/fira.css') }}'>
        <link rel='stylesheet' href='{{ url_for('static', filename='styles/main.css') }}'>
    </head>
    <body>

        <header>
            <div>
                <img src='{{ url_for('static', filename='images/tree.svg') }}' title='The world tree!' alt='Bytelog'>
            </div>
            <nav>
                <a href='/'>Articles</a>
                <a href='/projects'>Projects</a>
                <a href='/authors'>Authors</a>
                <a href='/about'>About</a>
            </nav>
        </header>

        <main>
            {% block primary %}{% endblock %}
        </main>

        <footer>
            <a href='{{ url_for('static', filename='humans.txt') }}'>Humans</a>
            <a href='/privacy'>Privacy</a>
            <a href='/feed'>Feed</a>
            <a href='https://github.com/Bytelog/Bytelog'>Source</a>
        </footer>

        <script src='{{ url_for('static', filename='scripts/main.js') }}'></script>
    </body>
</html>
