{% extends 'layout.jinja' %}
{% block primary %}

<ul class='projects'>
    <li>
        <h4>Project Name</h4>
        <p>This is an example project, isn't it?</p>
    </li>
    <li>Project</li>
    <li>Project</li>
    <li>Project</li>
    <li>Project</li>
    <li>Project</li>
    <li>Project</li>
</ul>

{% block content %}{% endblock %}
{% endblock %}
